@model Student

<style>
    h1{

    }
</style>

<h1>Add student</h1>

<form method="post" asp-action="AddStudent">
    <label>First Name</label>
    <input asp-for="FirstName" type="text"/>

    <label>LastName</label>
    <input asp-for="LastName" type="text" />

    <label>Date Of Birth</label>
    <input asp-for="DateOfBirth" type="date" />

    <label>GPA</label>
    <input asp-for="GPA" type="number" />

    <input type="submit" value="Add student" class="btn btn-success"/>
</form>

<a asp-action="ReturnBack">Return to students</a>

<script>

</script>