@model Student

<h1 class="text-center text-primary">
    @* @($"{ViewBag.Student.FirstName} {ViewBag.Student.LastName}") *@
    @* @((ViewData["Student"] as Student)?.FirstName) *@
    @Model.FirstName
</h1>